*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif, georgia;
}

body{
    background: rgb(65, 61, 61);
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin: 50px auto 0;
    padding: 40px 35px;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search input{
    background: #ebfffc;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    height: 60px;
    /* flex: 1;
    margin-right: 16px; */
    width: 80%;
    color: #555;
    font-size: 18px;
}

.search button{
    background: #ebfffc;
    border: 0;
    outline: 0;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search img{
    width: 16px;
}

.weatherIcon{
    margin-top: 30px;
    width: 150px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 5px;
}

.column img{
    width: 40px;
}

.wind, .humidity{
    font-size: 25px;
    margin-top: -10px;
}

.weather{
    display: none;
}

.show{
    display: block;
}